.imageBg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    filter: blur(15px);
}

.shade {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.page {
    position: absolute;
    top: 3%;
    left: 3%;
    right: 3%;
    bottom: 3%;
    background: transparent;
    border: white solid 2px;
}
